bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
publish/
*.db
*.db-shm
*.db-wal
*.log
*.pdb
AppData/
[Dd]ebug/
[Rr]elease/
*.nupkg
*.pfx
*.key
.DS_Store
Thumbs.db
*.tmp
*.cache
